.contact {
  margin: 2rem 20rem;
  /* margin: 0; */
}
.cont {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* height: 12rem; */
  /* background-color: #6f5858; */
}
.contl {
  flex: 1;
  height: 6rem;
}
.contr {
  /* font: 6px; */
  flex: 4;
  height: 6rem;
  background-color: #c49b9b;
}
