.contact {
  margin: 0 20rem;
  /* margin: 0; */
  background-color: #f4cece45;
  padding:  6rem;
  display: flex;
  flex-direction: column;
/* justify-content: center; */
  /* align-items: center; */
  color: var(--bgclr);
}
.cont {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 12rem; */
  text-align: center;
  /* background-color: #a48181be; */
}
.contl {
  flex: 1;
  height: 6rem;
  display: flex;
  align-items: center;
  /* background-color: #e17979; */
  /* align-items: center; */
  /* justify-content: center; */
}
.contr {
  /* font: 6px; */
  flex: 4;
  /* height: 16rem; */
  /* margin:  3rem; */
  margin-left: 2rem;
  padding-left: 4rem;
  display: flex;
  align-items: center;
  /* padding:  auto; */
  /* background-color: #c49b9b; */
}
