.navbar{
    display: flex;
    background-color: var(--bgclr);
    position: fixed;
    width: 100vw;
    align-items: center;
    color: var(--txtclr);
    height: 4.5rem;
    padding:  0 12rem;
    /* box-shadow: 0 2px 5px #fff; */
    box-shadow: 0 2px 8px #d2c9cb;
    /* justify-content: space-between; */
}
.navleft{
    flex: 1;
    font-weight: 650;
    font-size: 1.4rem;
    color: var(--pink);
    margin-left: 5rem;
}
.navleft:hover{
    color: #e82261;
    font-size: 1.5rem;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.navright{
    flex: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
}
/* .navlist{
    align-items: center;
    font-weight: 660;
    color: var(--pink);
    text-decoration: none;
    list-style: none;
    display: flex;
} */

a{
    text-decoration: none;
    text-transform: uppercase;
    padding: .41rem;
    color: var(--pink);
}
li:hover{
    font-size: 1.17rem;
    color: var(--txtclr);
    transition: .24s ease-in-out;
}
li{
    margin-right: 1rem;
}
.toggle{
    background-color: var(--bgclr);
    border: none;
}
