:root {
  font-family: "Poppins", sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
}
.light-mode {
  --priclr: red;
  --pink: #c9163d;
  --txtclr: rgb(24, 0, 27);
  --bgclr: rgb(255, 237, 237);
}
.dark-mode {
  --priclr: blue;
  --pink: #c9163d;
  --txtclr: whitesmoke;
  --bgclr: rgb(2, 3, 20);
}
body {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background-color: var(--txtclr);
  width: 0.71rem;
}
::-webkit-scrollbar:horizontal {
  display: none;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(196, 5, 53), rgb(182, 5, 182));

  border-radius: 1rem;
}
svg {
  padding: 0 .6rem;
  cursor: pointer;
  color: var(--pink);
}
svg:hover {
  font-size: 1.8rem;
  color: var(--txtclr);
  transition: 0.3s ease-in-out;
}
span {
  color: var(--pink);
}
