.footer{
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20rem;
    /* background-color: var(--pink); */
    background-color: var(--bgclr);
    color: var(--txtclr);
}